<h3>Detailed Research plan</h3>

<p>
    Answer to each question answers must be understandable to all PIBC members, Including non-scientists. Avoid using overly technical terms, define, all acronyms, and explain your methods. The PIBC reviews registrations for safety concerns related to the use of biological materials, therefore address potential hazards to the researchers or the community
</p>

<p>If you have any questions, please contact <a href="emailto:PIBC@partners.org">PIBC</a>.</p>

<div class="form-group">
    <label><strong>Study Goals:</strong> Describe the overall objectives of the study and provide a brief overview of the methods that will be used to achieve these objectives.</label>
    <div>
        <div class="input">
            <label>
                <textarea type="text" data-bind="value:questions.Answer1" />
            </label>
        </div>

    </div>
    <label>
        <strong>Procedures and Techniques:</strong> Describe how the specific biological materials in this registration will be manipulated.
    </label>
    <div>
        <div class="input">
            <label>
                <textarea data-bind="value: questions.Answer2" />
            </label>
        </div>
    </div>
</div>
