<h3>Laboratory Initial Application</h3>

<p>Need help filing your eIBC submission? Training materials ae available on our 
<a href="http://reasadmin.partners.org/RM_Home/Research_Support_Deptts/Research_Oversight/PIBC/Training/Training.aspx">website:</a></p>

<p>Please answer the following question(s) in order to customize your laboratory bilogical research submission. The answers to thesee questions will determine what information is required for review by the Partners IBC. Once you have completed the application you will be able to add or delete a form on hte appliation, if you feel you answered any questions incorrectly. This can be one by clicking the "Add / Delete Forms" button.</p>

<p>If you have any questions, please contact <a href="emailto:PIBC@partners.org">PIBC</a>.</p>

<div class="form-group">
    <label>Does the biological research involves any biological materials to animals?</label>
    <div>
        <div class="radio">
            <label>
                <input type="radio" data-bind="checked: questions.Answer1, attr: { name: questions.QuestionCode1 }" id="Radio3" value="Yes" checked>
                Yes
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" data-bind="checked: questions.Answer1, attr: { name: questions.QuestionCode1 }" id="Radio4" value="No">
                No
            </label>
        </div>
    </div>
     <label>Does the biological involve the use of existing human embryonic stem cells(hESCs), deriving new hESCs, or using human induced Pluripotent Stem Cells(IPScs)?</label>
    <div>
        <div class="radio">
            <label>
                <input type="radio" data-bind="checked: questions.Answer2, attr: { name: questions.QuestionCode2 }" id="Radio1" value="Yes" checked>
                Yes
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" data-bind="checked: questions.Answer2, attr: { name: questions.QuestionCode2 }" id="Radio2" value="No">
                No
            </label>
        </div>
    </div>
</div>
